[bumpversion]
current_version = 2.0.8
commit = True
tag = True
tag_name = v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(?:(?P<release>a|b|rc)(?P<pre_n>\d+))?
serialize = 
	{major}.{minor}.{patch}{release}{pre_n}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = final
values = 
	final
	a
	b
	rc

[bumpversion:part:pre_n]
first_value = 1

[bumpversion:file:pyproject.toml]
